In [2]:
from selenium import webdriver
from selenium.webdriver.common.by import By

In [3]:
driver = webdriver.Chrome()

In [4]:
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import StaleElementReferenceException
import json

In [5]:
import pandas as pd
import time

In [48]:
# Create an instance of the Firefox web driver
driver = webdriver.Chrome()

# Navigate to the desired website
data_list = []
index = 0
for i in range(0, 75):
    url = 'https://www.sociolla.com/139-makeup?page=' + str(i)
    driver.get(url)

    # Wait until the desired elements are present
    wait = WebDriverWait(driver, 40, ignored_exceptions = (NoSuchElementException, StaleElementReferenceException))  # Wait for a maximum of 40 seconds

    #products_container = wait.until(EC.presence_of_element_located((By.CLASS_NAME, 'product-list')))
    products = wait.until(EC.visibility_of_all_elements_located((By.CLASS_NAME, 'loaded-item')))
    #product_info = wait.until(EC.visibility_of_all_elements_located((By.CLASS_NAME, 'product__info')))
    
    for row in products:
        try:
            brand = row.find_element(By.CLASS_NAME, 'product__brand').get_attribute('innerHTML')
            name = row.find_element(By.CLASS_NAME, 'product__name').find_element(By.TAG_NAME, 'a').text
            price = row.find_element(By.CLASS_NAME, 'product__price').get_attribute('innerHTML')
            review = row.find_element(By.CLASS_NAME, 'product__reviews').get_attribute('innerHTML')

            data_list.append({
                'index': index,
                # 'discount': disc,
                'brand name': brand,
                'product name': name,
                'price': price,
                # 'more attribute': attr,
                'review number': review
            })
            index += 1  # Increment the index
        except:
            pass
    time.sleep(5)

# Close the web driver
driver.quit()

In [49]:
# Scraping skincare data 
driver = webdriver.Chrome()

skincare_data = []
for i in range(0, 80):
    url = 'https://www.sociolla.com/140-skin-care?page=' + str(i)
    driver.get(url)

    # Wait until the desired elements are present
    wait = WebDriverWait(driver, 60, ignored_exceptions = (NoSuchElementException, StaleElementReferenceException))  # Wait for a maximum of 40 seconds
    products = wait.until(EC.visibility_of_all_elements_located((By.CLASS_NAME, 'loaded-item')))
    
    for row in products:
        try:
            brand = row.find_element(By.CLASS_NAME, 'product__brand').get_attribute('innerHTML')
            name = row.find_element(By.CLASS_NAME, 'product__name').find_element(By.TAG_NAME, 'a').text
            price = row.find_element(By.CLASS_NAME, 'product__price').get_attribute('innerHTML')
            review = row.find_element(By.CLASS_NAME, 'product__reviews').get_attribute('innerHTML')

            skincare_data.append({
                'index': index,
                'brand name': brand,
                'product name': name,
                'price': price,
                'review number': review
            })
            index += 1  # Increment the index
        except:
            pass
    time.sleep(5)

# Close the web driver
driver.quit()

In [50]:
# Scraping haircare data 
driver = webdriver.Chrome()

haircare_data = []
for i in range(0, 45):
    url = 'https://www.sociolla.com/141-hair-care?page=' + str(i)
    driver.get(url)

    # Wait until the desired elements are present
    wait = WebDriverWait(driver, 60, ignored_exceptions = (NoSuchElementException, StaleElementReferenceException))  # Wait for a maximum of 40 seconds
    products = wait.until(EC.visibility_of_all_elements_located((By.CLASS_NAME, 'loaded-item')))
    
    for row in products:
        try:
            brand = row.find_element(By.CLASS_NAME, 'product__brand').get_attribute('innerHTML')
            name = row.find_element(By.CLASS_NAME, 'product__name').find_element(By.TAG_NAME, 'a').text
            price = row.find_element(By.CLASS_NAME, 'product__price').get_attribute('innerHTML')
            review = row.find_element(By.CLASS_NAME, 'product__reviews').get_attribute('innerHTML')

            haircare_data.append({
                'index': index,
                'brand name': brand,
                'product name': name,
                'price': price,
                'review number': review
            })
            index += 1  # Increment the index
        except:
            pass
    time.sleep(5)

# Close the web driver
driver.quit()

In [52]:
# Scraping bath and body data 
driver = webdriver.Chrome()

bb_data = []
for i in range(0, 45):
    url = 'https://www.sociolla.com/143-bath-and-body?page=' + str(i)
    driver.get(url)

    # Wait until the desired elements are present
    wait = WebDriverWait(driver, 60, ignored_exceptions = (NoSuchElementException, StaleElementReferenceException))  # Wait for a maximum of 40 seconds
    products = wait.until(EC.visibility_of_all_elements_located((By.CLASS_NAME, 'loaded-item')))
    
    for row in products:
        try:
            brand = row.find_element(By.CLASS_NAME, 'product__brand').get_attribute('innerHTML')
            name = row.find_element(By.CLASS_NAME, 'product__name').find_element(By.TAG_NAME, 'a').text
            price = row.find_element(By.CLASS_NAME, 'product__price').get_attribute('innerHTML')
            review = row.find_element(By.CLASS_NAME, 'product__reviews').get_attribute('innerHTML')

            bb_data.append({
                'index': index,
                'brand name': brand,
                'product name': name,
                'price': price,
                'review number': review
            })
            index += 1  # Increment the index
        except:
            pass
    time.sleep(5)

# Close the web driver
driver.quit()

In [53]:
# Scraping fragrance data 
driver = webdriver.Chrome()

f_data = []
for i in range(0, 9):
    url = 'https://www.sociolla.com/145-fragrance?page=' + str(i)
    driver.get(url)

    # Wait until the desired elements are present
    wait = WebDriverWait(driver, 60, ignored_exceptions = (NoSuchElementException, StaleElementReferenceException))  # Wait for a maximum of 40 seconds
    products = wait.until(EC.visibility_of_all_elements_located((By.CLASS_NAME, 'loaded-item')))
    
    for row in products:
        try:
            brand = row.find_element(By.CLASS_NAME, 'product__brand').get_attribute('innerHTML')
            name = row.find_element(By.CLASS_NAME, 'product__name').find_element(By.TAG_NAME, 'a').text
            price = row.find_element(By.CLASS_NAME, 'product__price').get_attribute('innerHTML')
            review = row.find_element(By.CLASS_NAME, 'product__reviews').get_attribute('innerHTML')

            f_data.append({
                'index': index,
                'brand name': brand,
                'product name': name,
                'price': price,
                'review number': review
            })
            index += 1  # Increment the index
        except:
            pass
    time.sleep(5)

# Close the web driver
driver.quit()

In [64]:
# Scraping best seller products
driver = webdriver.Chrome()

bs_data = []
index = 0
for i in range (0,9):
    url = 'https://www.sociolla.com/best-seller?page=' + str(i)
    driver.get(url)
    # Wait until the desired elements are present
    wait = WebDriverWait(driver, 40, ignored_exceptions = (NoSuchElementException, StaleElementReferenceException))  # Wait for a maximum of 40 seconds
    products = wait.until(EC.visibility_of_all_elements_located((By.CLASS_NAME, 'loaded-item')))
    for row in products:
        try:
            brand = row.find_element(By.CLASS_NAME, 'product__brand').get_attribute('innerHTML')
            name = row.find_element(By.CLASS_NAME, 'product__name').find_element(By.TAG_NAME, 'a').text

            bs_data.append({
                'index': index,
                'brand name': brand,
                'product name': name,
            })
            index += 1  # Increment the index
        except:
            pass
    time.sleep(5)

# Close the web driver
driver.quit()

In [61]:
# Scraping new arrivals data 
driver = webdriver.Chrome()
index = 0
ja_data = []
for i in range(0, 8):
    url = 'https://www.sociolla.com/just-arrived?page=' + str(i)
    driver.get(url)

    # Wait until the desired elements are present
    wait = WebDriverWait(driver, 60, ignored_exceptions = (NoSuchElementException, StaleElementReferenceException))  # Wait for a maximum of 40 seconds
    products = wait.until(EC.visibility_of_all_elements_located((By.CLASS_NAME, 'loaded-item')))
    
    for row in products:
        try:
            brand = row.find_element(By.CLASS_NAME, 'product__brand').get_attribute('innerHTML')
            name = row.find_element(By.CLASS_NAME, 'product__name').find_element(By.TAG_NAME, 'a').text

            ja_data.append({
                'index': index,
                'brand name': brand,
                'product name': name,
            })
            index += 1  # Increment the index
        except:
            pass

    time.sleep(5)

# Close the web driver
driver.quit()

In [66]:
df_mu = pd.DataFrame(data_list)
df_sc = pd.DataFrame(skincare_data)
df_hc = pd.DataFrame(haircare_data)
df_bb = pd.DataFrame(bb_data)
df_f = pd.DataFrame(f_data)
df_mu['category'] = ['makeup'] * len(df_mu)
df_sc['category'] = ['skincare'] * len(df_sc)
df_hc['category'] = ['haircare'] * len(df_hc)
df_bb['category'] = ['bath_and_body'] * len(df_bb)
df_f['category'] = ['fragrance'] * len(df_f)

In [69]:
df = pd.concat([df_mu, df_sc, df_hc, df_bb, df_f], ignore_index=True)

In [70]:
# fixing price format
import re
pattern1 = r'(Rp\s\d+\.\d+)'
pattern2 =  r'(\d+)%'

df['price_before_discount'] = df['price'].str.extract(pattern1, flags=re.IGNORECASE)
df['discount'] = df['price'].str.extract(pattern2, flags=re.IGNORECASE)
df.drop('price', axis=1, inplace=True)

In [71]:
# fill discount with NaN value with 0 
df['discount'] = df['discount'].fillna(0)
df['discount'] = df['discount'].astype(int)

In [72]:
df['price_before_discount'] = df['price_before_discount'].str.replace('[Rp .]', '', regex=True)
df['price_before_discount'] = df['price_before_discount'].astype(int)
df['price_before_discount'].dtype

dtype('int64')

In [73]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2681 entries, 0 to 2680
Data columns (total 7 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   index                  2681 non-null   int64
 1   brand name             2681 non-null   object
 2   product name           2681 non-null   object
 3   review number          2681 non-null   object
 4   category               2681 non-null   object
 5   price_before_discount  2681 non-null   int64
 6   discount               2681 non-null   int64
dtypes: int64(3), object(4)
memory usage: 146.7+ KB

In [74]:
# Check if there is a duplication
duplicate = df.duplicated()
duplicate

0       False
1       False
2       False
3       False
4       False
        ...
2676    False
2677    False
2678    False
2679    False
2680    False
Length: 2681, dtype: bool

In [75]:
# Check if there is NaN value
empty = df.isna()
empty

,index,brand name,product name,review number,category,price_before_discount,discount
0,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...
2676,False,False,False,False,False,False,False
2677,False,False,False,False,False,False,False
2678,False,False,False,False,False,False,False
2679,False,False,False,False,False,False,False
2680,False,False,False,False,False,False,False

In [76]:
df_bs = pd.DataFrame(bs_data)
df_ja = pd.DataFrame(ja_data)

In [265]:
df_bs.duplicated()

0     False
1     False
2     False
3     False
4     False
      ...
75     True
76     True
77     True
78     True
79     True
Length: 80, dtype: bool

In [272]:
df_bs = df_bs.drop_duplicates()

In [273]:
df_bs.isna()

    brand name  product name
0        False         False
1        False         False
2        False         False
3        False         False
4        False         False
5        False         False
6        False         False
7        False         False
8        False         False
9        False         False
10       False         False
11       False         False
12       False         False
13       False         False
14       False         False
15       False         False
16       False         False
17       False         False
18       False         False
19       False         False

In [ ]:
df_ja = df_ja.drop(['index'], axis = 1)
df_ja.duplicated()

In [275]:
df_ja = df_ja.drop_duplicates()

In [276]:
df_ja.isna()

    brand name  product name
0        False         False
1        False         False
2        False         False
3        False         False
4        False         False
5        False         False
6        False         False
7        False         False
8        False         False
9        False         False
10       False         False
11       False         False
12       False         False
13       False         False
14       False         False
15       False         False

In [205]:
df = df.drop(['index'], axis=1)
df_bs = df_bs
df

,brand name,product name,review number,category,price_before_discount,discount
0,ESQA,Waterproof Intense Eyeliner,"(1,1k)",makeup,125000,25
1,Wardah,Everyday Cheek and Lip Tint,(5k),makeup,48500,7
2,Make Over,Cliquematte Lip Stylo,"(1,5k)",makeup,125000,25
3,Emina,Pore Ranger,"(1,5k)",makeup,66000,0
4,Maybelline,Fit Me Loose Powder,"(1,5k)",makeup,215000,30
...,...,...,...,...,...,...
2676,Yves Rocher,Comme Une Evidence Eau De Parfum - 100 ml,(27),fragrance,679000,0
2677,BIES,Viva La Dolce,(37),fragrance,300000,10
2678,BIES,Love Elixir,(42),fragrance,240000,10
2679,BIES,I Just Love It,(29),fragrance,240000,10
2680,BIES,Blossom Garden EDP,(23),fragrance,290000,10

In [160]:
# Scrape the brand origins data

# Create an instance of the Chrome web driver
driver = webdriver.Chrome()

# Navigate to the desired website
url = 'https://www.sociolla.com/'
driver.get(url)

# Wait for the element to be clickable
wait = WebDriverWait(driver, 20)
close_trigger = wait.until(EC.element_to_be_clickable((By.CLASS_NAME, 'close')))

# Click on the element
close_trigger.click()

menu_trigger = wait.until(EC.element_to_be_clickable((By.XPATH, '//*[@id="quick-tour-1"]/li[2]/a')))
menu_trigger.click()

brand_origin = wait.until(EC.element_to_be_clickable((By.XPATH, '//*[@id="quick-tour-1"]/li[2]/div/div/div[1]/ul/li[2]')))
brand_origin.click()

# Find the brand elements within the slide menu
slide_menu = wait.until(EC.visibility_of_all_elements_located((By.XPATH, '//*[@id="brand-list-by-alphabet"]')))
time.sleep(10)

# Extract the brand names
brand_elements = []
for menu in slide_menu:
    brand_elements.extend(menu.find_elements(By.TAG_NAME, 'a'))

origins = [brand.text for brand in brand_elements]

# Print the brand names
for brand in origins:
    print(brand)

# Close the web driver
driver.quit()

Amerika Serikat
Australia
Canada
China
France
Germany
Indonesia
Italy
Japan
Korea
Malaysia
Poland
Singapore
South Africa
Taiwan
Thailand
Turkey
United Kingdom
United-States

In [161]:
df_bo = pd.DataFrame(origins)
df_bo.columns = ['brand_origins']

In [162]:
df_bo

      brand_origins
0   Amerika Serikat
1         Australia
2            Canada
3             China
4            France
5           Germany
6         Indonesia
7             Italy
8             Japan
9             Korea
10         Malaysia
11           Poland
12        Singapore
13     South Africa
14           Taiwan
15         Thailand
16           Turkey
17   United Kingdom
18    United-States

In [34]:
# Scrape the brand list data

# Create an instance of the Chrome web driver
driver = webdriver.Chrome()

# Navigate to the desired website
url = 'https://www.sociolla.com/'
driver.get(url)

# Wait for the element to be clickable
wait = WebDriverWait(driver, 20)
close_trigger = wait.until(EC.element_to_be_clickable((By.CLASS_NAME, 'close')))

# Click on the element
close_trigger.click()

menu_trigger = wait.until(EC.element_to_be_clickable((By.XPATH, '//*[@id="quick-tour-1"]/li[2]/a')))
menu_trigger.click()

brand_origin = wait.until(EC.element_to_be_clickable((By.XPATH, '//*[@id="quick-tour-1"]/li[2]/div/div/div[1]/ul/li[1]')))
brand_origin.click()

# Find the brand elements within the slide menu
slide_menu = wait.until(EC.visibility_of_all_elements_located((By.XPATH, '//*[@id="brand-list-by-alphabet"]')))
time.sleep(10)

# Extract the brand names
brand_elements = []
for menu in slide_menu:
    brand_elements.extend(menu.find_elements(By.TAG_NAME, 'a'))

brand_names = [brand.text for brand in brand_elements]

# Print the brand names
for brand in brand_names:
    print(brand)

# Close the web driver
driver.quit()

3CE
A'Pieu
Abib
Acwell
Adara Cosmetics
Aeris Beaute
Alchemist Fragrance
Allglows
Anessa
Argavell
Ariul
Artisan Professionnel
Aveeno
Avoskin
Azarine
Babyliss Pro
Bae+
Balans
Banana Boat
Banila Co.
Barenbliss
Base
Batiste
Beauty Of Joseon
Beauty Of Majesty
Beauty Theory
Beautyblender
Benefit Cosmetics
Benton
Bhumi
BIES
Bio Beauty Lab
Bio Oil
Bio-Essence
Bioderma
Biore
Biyu
Blink Charm
BLITHE
Blood
Bloomka
BLP Beauty
Bonavie
Botanical Essentials
Bouquet Garni Nard
Breylee
Brighty
Buttonscarves Beauty
C Lab & Co
Camani
Carasun
Careso
Carl & Claire
CBD Professional
Cetaphil
CHOOSY
Cleanpop
Cleya Beauty
Clio
COLAB Dry Shampoo
CONFITTY
COSRX
Creme And Tonic
D'Alba
Daeng Gi Meo Ri
Dancoly
Daze Delacour
Dazzle Me
Dear Klairs
Dear Me Beauty
Deorex
Derma Angel
Dermaexpress
Dew It
DHC
Djamujamu
Dove
Dr Bronners
Dr Soap
Ecotools
Ellips
Elmer
Elsheskin
Emina
ESQA
Esscentials Indonesia
EssenHerb
Etude
Eucalie
Evalash
Everpure
Eversince
Everwhite
Eze Nails
Face Republic
Feat For Skin
Focallure
For Skins Sake
Fordive
Freeman Beauty
Garnier
Gentle Hour
Gillette
GLOEI
Glow Better
Goban
Gorjes
Grace And Glow
Guele Cosmetics
Hada Labo
Hairmony
Hale
Handduk By Today
Haple
Harlette
Hatomugi
Hayejin
HEIMISH
Herbal Essences
Herborist
HMNS
Holika Holika
House Of HUR
Huangjisoo
I'M From
IMMEME
Implora
Indoganic
Innisfree
Itsy Nail
Jacquelle
Jarte Beauty
Jergens
Joylab
Jumiso
Kaleido
Karis Cosmetics
Keana Nadeshiko
Kitschy
Klavuu
Kleveru
KOSE
Kundal
La'Dor
Lacoco
Lae Sa Luay
Lagom
Lamica
Laneige
Lavie Lash
Lavojoy
Le Havre
Leaders
Lembang Soap
Liese
Like Im Five
Lilybyred
LIPLAPIN
Looke Cosmetics
Loreal Paris
Loreca
Love Beauty And Planet
LULULUN
Mad For Makeup
Makarizo
Makarizo Professional
Make Over
Make P:Rem
Mama Butter
Masami
Maska
Maybelline
Mediheal
MegRhythm
Milkshake
Mineral Botanica
Mirael
Missha
Mixsoon
Moist Diane
Moko Moko
Moonshot
Mother Of Pearl
Mutouch
Nacific
NAMA BEAUTY
Natracare
Neogen Dermalogy
Neutrogena
Nivea
Nona Woman
Noolab
Nosuku
NOTE COSMETICS
NPure
Nusantics
Nutrishe
Nuxe
O'Sweet Singapore
Oasea Laboratories
OC Naturals
Olay
Osho
Pantene
Peripera
Perspirex
Petal Fresh
Philocaly Skin
Pieras Propolinse
PinkFlash
Pome
Pond'S
PRECIOUS SKIN
Pure Paw Paw
Pyunkang Yul
Q-San
QV Skincare
Rabbit Habit
Raiku
Raine Beauty
Rated Green
Real Barrier
Real Techniques
Ree Derma Wellness
Rei Skin
Rexona
Rivya
Roceo
Rojukiss
Rollover Reaction
Rose All Day
Rovectin
Runa Beauty
SA Naturel By Shandy Aulia
SADA Hybrid Beauty
Sae'Kin
SAFF & Co
Safi
Santa Marché
SASC
SATELLITE OF GLOW
Scarlett Whitening
Scent & Light
Schick
Seca Skin
Secondate
Secret Key
Sensatia Botanicals
Shiseido
Silcot
Sister Ann
SK-II
Skin Aqua
Skin Game
Skin Soul
Skin Theory
Skin1004
Skindoze
Skintific
Sociolla
Some By Mi
Soulyu
St. Ives
Steambase
Sterobac
Studio Tropik
Sugarpot
Sukin
Sulwhasoo
SUNDAE Shower
SYCA
Takeda
Tammia
Teddy Clubs
The Aubree
The Bath Box
The Body Shop
The Goat Skincare
The Originote
The Wet Brush
Tiga Lab
TISH
Tone
TRILOGY
TROPE Cosmetics
True To Skin
Trueve
Tulus
Tumbuh Lab
UMA Women
Varesse
Vaseline
Verites
Votre Peau
Wardah
Wavertree And London
WESTCARE
White Story
Whitelab
Wonderlux
Yoona
YOU Beauty
Youvit
Yves Rocher
Zamron

In [36]:
df_bl = pd.DataFrame(brand_names)
df_bl.columns = ['brand name']
df_bl

          brand name
0                3CE
1             A'Pieu
2               Abib
3             Acwell
4    Adara Cosmetics
..               ...
300            Yoona
301       YOU Beauty
302           Youvit
303      Yves Rocher
304           Zamron

[305 rows x 1 columns]

In [191]:
bo_edit = pd.DataFrame(origins)
bo_edit.columns = ['brand_origins']
bo_edit['brand_origins'] = bo_edit['brand_origins'].str.replace(' ', '-').str.lower()

In [240]:
country_urls = ['https://www.sociolla.com/17777_cn-origin-amerika-serikat?tab=products', 
                'https://www.sociolla.com/19107_cn-origin-australia?tab=products',
                'https://www.sociolla.com/17776_cn-origin-canada?tab=products',
                'https://www.sociolla.com/17755_cn-origin-china?tab=products',
                'https://www.sociolla.com/17769_cn-origin-france?tab=products',
                'https://www.sociolla.com/17768_cn-origin-germany?tab=products',
                'https://www.sociolla.com/17759_cn-origin-indonesia?tab=products',
                'https://www.sociolla.com/17770_cn-origin-italy?tab=products',
                'https://www.sociolla.com/17753_cn-origin-japan?tab=products',
                'https://www.sociolla.com/17754_cn-origin-korea?tab=products',
                'https://www.sociolla.com/17761_cn-origin-malaysia?tab=products',
                'https://www.sociolla.com/17771_cn-origin-poland?tab=products',
                'https://www.sociolla.com/17762_cn-origin-singapore?tab=products',
                'https://www.sociolla.com/17895_cn-origin-south-africa?tab=products',
                'https://www.sociolla.com/17756_cn-origin-taiwan?tab=products',
                'https://www.sociolla.com/17760_cn-origin-thailand?tab=products',
                'https://www.sociolla.com/17764_cn-origin-turkey?tab=products',
                'https://www.sociolla.com/19440_cn-origin-united-kingdom?tab=products',
                'https://www.sociolla.com/19441_cn-origin-united-states?tab=products'         
                ]

In [251]:
from selenium.common.exceptions import TimeoutException

# Create an instance of the Chrome web driver
driver = webdriver.Chrome()
wait = WebDriverWait(driver, 60)
brct_data = []

# Iterate over each country element
for i in range(0, 19):
    # Navigate to the desired website
    url = country_urls[i]
    driver.get(url)

    # Retry logic
    retries = 3  # Number of retries
    while retries > 0:
        try:
            # Wait for the products to load
            wait.until(EC.visibility_of_element_located((By.XPATH, '//*[@id="sidebar"]/div[2]/div')))
            break  # Break out of the loop if successful
        except TimeoutException:
            retries -= 1
            if retries == 0:
                print(f"Failed to load products for {url}")
                break
            else:
                print(f"Retrying... ({retries} retries left)")
                continue

    # Scrape the brand names from the products
    brand_elements = driver.find_elements(By.TAG_NAME, 'label')
    brand_names = [brand.text for brand in brand_elements]

    # Print the brand names
    for brand in brand_names:
        brct_data.append({
            'country name': df_bo['brand_origins'].iloc[i],
            'brand name': brand
        })
    time.sleep(5)

# Close the web driver
driver.quit()

In [252]:
df_brct = pd.DataFrame(brct_data)

# Define the values to be excluded
excluded_values = ["SALE", "All Ratings", "5.0", "4.0", "3.0", "2.0", "1.0", ""]

# Filter the DataFrame by the mask
brct_filtered = df_brct[~df_brct.iloc[:, 1].isin(excluded_values)]
brct_filtered.reset_index(drop=True, inplace=True)
brct_filtered

     country name              brand name
0       Australia              C Lab & Co
1       Australia                 Lavojoy
2       Australia             OC Naturals
3       Australia            Pure Paw Paw
4       Australia             QV Skincare
..            ...                     ...
94  United-States  Love Beauty And Planet
95  United-States                 Pantene
96  United-States                St. Ives
97  United-States           The Wet Brush
98  United-States                Vaseline

[99 rows x 2 columns]

In [277]:
# Make a dictionary
data = {
    'products': json.loads(df.to_json(orient='records')),
    'best_seller': json.loads(df_bs.to_json(orient='records')),
    'just_arrived': json.loads(df_ja.to_json(orient='records')),
    'brand_list': json.loads(df_bl.to_json(orient='records')),
    'brand_origins': json.loads(df_bo.to_json(orient='records')),
    'brand_country': json.loads(brct_filtered.to_json(orient='records'))
}

# Convert the dictionary to a JSON string
json_str = json.dumps(data, indent=2)

# Write the JSON string to a file
with open('sociolla.json', 'w') as file:
    file.write(json_str)