In [3]:
# Import libraries
import mysql.connector

In [4]:
def printList(arr):
    for i in arr:
        print(i)

In [5]:
# Establish connection to MySQL and create Database

try:
    db = mysql.connector.connect(host ="localhost",
                                user = "root",
                               password="pass")
    c = db.cursor()

    c.execute("CREATE DATABASE seleksi_basdat")

    db.close()
    
except:
    print("Error while connecting to MySQL")

In [6]:
# Use specific database
db = mysql.connector.connect(host="localhost", user="root", password="juancs123", database="seleksi_basdat")

c = db.cursor()
c.execute("ALTER DATABASE seleksi_basdat CHARACTER SET = utf8mb4 COLLATE = utf8mb4_unicode_ci")

In [7]:
# Create tables
product_create = """ CREATE TABLE `seleksi_basdat`.`product` (
    `id` BIGINT NOT NULL AUTO_INCREMENT,
    `listing_id` BIGINT NOT NULL,
    `title` VARCHAR(255) NOT NULL,
    `type` VARCHAR(50) NOT NULL,
    `available` VARCHAR(50),
    `sold` INT,
    `return` VARCHAR(50),
    `seller` VARCHAR(100) NOT NULL,
    `condition` VARCHAR(50) NOT NULL,
    PRIMARY KEY (`id`)
)"""

price_create = """ CREATE TABLE `seleksi_basdat`.`price` (
    `id` BIGINT REFERENCES `product`(`id`),
    `price_original_currency` VARCHAR(10) NOT NULL,
    `price_original_value` FLOAT NOT NULL,
    `price_idr` FLOAT NOT NULL,
    PRIMARY KEY (`id`)
)"""

shipment_create = """ CREATE TABLE `seleksi_basdat`.`shipment` (
    `id` BIGINT REFERENCES `product`(`id`),
    `shipping_availability` BIT NOT NULL,
    `shipping_price_currency` VARCHAR(10),
    `shipping_price_value` FLOAT,
    `shipping_location` VARCHAR(100),
    PRIMARY KEY (`id`)
)"""

payment_create = """ CREATE TABLE `seleksi_basdat`.`payment` (
    `id` BIGINT REFERENCES `product`(`id`),
    `method` VARCHAR(50) NOT NULL,
    PRIMARY KEY (`id`, `method`)
)"""

c = db.cursor()
c.execute(product_create)
c = db.cursor()
c.execute(price_create)
c = db.cursor()
c.execute(shipment_create)
c = db.cursor()
c.execute(payment_create)

In [8]:
# import preprocessed data as dataframe
import pandas as pd
import numpy as np
import os

# import the json files
dir = os.getcwd()
product = pd.read_json(dir[:-3]+"data\data_product.json", orient="records")
price = pd.read_json(dir[:-3]+"data\data_price.json", orient="records")
shipment = pd.read_json(dir[:-3]+"data\data_shipment.json", orient="records")
payment = pd.read_json(dir[:-3]+"data\data_payment.json", orient="records")

In [9]:
# Insert data to product table
c = db.cursor()

product_insert = """ INSERT INTO `seleksi_basdat`.`product` 
    (`listing_id`, `title`, `type`, `available`, `sold`, `return`, `seller`, `condition`)
    VALUES (%s, %s, %s, %s, %s, %s, %s, %s)
"""

data = list()

for i in range(len(product)):
    sold_attrib = product.iloc[i,4]
    if ((sold_attrib is not None) and (not pd.isna(sold_attrib))):
        sold_attrib = int(sold_attrib)
    elif (pd.isna(sold_attrib)):
        sold_attrib = None
    tempTuple = (int(product.iloc[i,0]), product.iloc[i,1], product.iloc[i,2], product.iloc[i,3], sold_attrib, product.iloc[i,5], product.iloc[i,6], product.iloc[i,7])
    data.append(tempTuple)


c.executemany(product_insert, data)
db.commit()

# For checking
c = db.cursor()
c.execute(""" SELECT * FROM PRODUCT LIMIT 5""")
printList(c)

(1, 333563280818, 'CHUWI Laptop HeroBook GemiBook CoreBook Pro/Plus/X Intel Core Laptop Windows', 'Laptops & Netbooks', '2 ', 32, '30 days ', 'CHUWI Official Store（chuwi2018）', 'New')
(2, 333996205343, 'CHUWI HeroBook Pro 14.1" Windows 10 Laptop Intel N4020 Laptop 8+256GB', 'Laptops & Netbooks', 'Last One', 14, '30 days ', 'CHUWI Official Store（chuwi2018）', 'New')
(3, 295671743764, 'HP Omen 17.3" Gaming Notebook QHD 165Hz i9-13900HX 32GB RAM 1TB SSD RTX 4090', 'Laptops & Netbooks', 'Limited quantity ', 92, '30 days ', 'Antonline', 'New')
(4, 285185433173, 'Lenovo ThinkPad P1 Gen 5 15.6" 2022 2K 2.3GHz i7-12700H 32GB 1TB SSD - RTX A2000', 'Laptops & Netbooks', 'Limited quantity ', 5, '30 days ', 'ItsWorthMore', 'Excellent - Refurbished')
(5, 283560024468, 'Dell Latitude Laptop Computer 14" Windows 10 PC Core i5 16GB Ram 240GB SSD HDMI', 'Laptops & Netbooks', 'More than 10 ', 968, 'Seller does not accept ', 'Discount Computer Depot', 'Very Good - Refurbished')

In [10]:
# Insert data to price table

price_insert = """ INSERT INTO `seleksi_basdat`.`price` 
    (`id`, `price_original_currency`, `price_original_value`, `price_idr`)
    VALUES (%s, %s, %s, %s)
"""

get_product_id = """ SELECT `id` FROM product 
    WHERE product.listing_id = %s """

data = list()

for i in range(len(price)):
    c = db.cursor()
    c.execute(get_product_id, (int(product.iloc[i,0]), ))
    id = c.fetchall()[0][0]

    tempTuple = (id, price.iloc[i,0], price.iloc[i,1], price.iloc[i,2])
    data.append(tempTuple)

c = db.cursor()
c.executemany(price_insert, data)
db.commit()

# For checking
c = db.cursor()
c.execute(""" SELECT * FROM PRICE LIMIT 5""")
printList(c)

(1, 'EUR ', 239.99, 4027000.0)
(2, 'EUR ', 199.99, 3355800.0)
(3, 'US $', 2499.99, 37313300.0)
(4, 'US $', 1399.99, 20895400.0)
(5, 'US $', 198.4, 2961190.0)

In [11]:
# Insert data to shipment table
shipment_insert = """ INSERT INTO `seleksi_basdat`.`shipment` 
    (`id`, `shipping_availability`, `shipping_price_currency`, `shipping_price_value`, `shipping_location`)
    VALUES (%s, %s, %s, %s, %s)
"""

get_product_id = """ SELECT `id` FROM product 
    WHERE product.listing_id = %s """

data = list()

for i in range(len(shipment)):
    c = db.cursor()
    c.execute(get_product_id, (int(product.iloc[i,0]), ))
    id = c.fetchall()[0][0]

    if (shipment.iloc[i,0]):
        availability = 1
    else :
        availability = 0

    ship_price = shipment.iloc[i,2]
    if (pd.isna(ship_price)):
        ship_price = None

    tempTuple = (id, availability, shipment.iloc[i,1], ship_price, shipment.iloc[i,3])
    data.append(tempTuple)


c = db.cursor()
c.executemany(shipment_insert, data)
db.commit()

# For checking
c = db.cursor()
c.execute(""" SELECT * FROM SHIPMENT LIMIT 5""")
printList(c)

(1, 1, None, 0.0, None)
(2, 1, None, 0.0, None)
(3, 0, None, None, 'Atlanta, Georgia, United States')
(4, 1, 'US $', 168.15, 'Sanford, Florida, United States')
(5, 0, None, None, 'Jacksonville, Texas, United States')

In [12]:
# Insert data to price table

payment_insert = """ INSERT INTO `seleksi_basdat`.`payment` 
    (`id`, `method`)
    VALUES (%s, %s)
"""

get_product_id = """ SELECT `id` FROM product 
    WHERE product.listing_id = %s """

data = list()

for i in range(len(payment)):
    c = db.cursor()
    c.execute(get_product_id, (int(payment.iloc[i,0]), ))
    id = c.fetchall()[0][0]

    tempTuple = (id, payment.iloc[i,1])
    data.append(tempTuple)

c = db.cursor()
c.executemany(payment_insert, data)
db.commit()

# For checking
c = db.cursor()
c.execute(""" SELECT * FROM PAYMENT LIMIT 5""")
printList(c)

(1, 'American Express')
(1, 'Apple Pay')
(1, 'Google Pay')
(1, 'Master Card')
(1, 'PayPal')